.container {
    margin: 0 5%;
    padding: 0 10px;
    height: 88vh;
    background: rgb(239, 239, 239);
    display: grid;
    grid-template-columns: 1fr 2fr;
    overflow: hidden;
}

.allMessages {
    height: 100%;
    padding: 10px;
    border-right: 1px solid #000;
}

.message {
    height: 100%;
    padding: 10px;
}

