section{
    margin: 0;
    padding: 0;
    height: calc(100vh - 104px);
    width: 100%;
    display: grid;
    background-image: url("../../../assets/images/chainz.jpg");    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.gameForm{
    padding: 0;
    margin: 0;
    height: 75%;
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.888);
    color: rgba(202, 0, 0, 0.789);
    text-align: center;
}
.gameForm form{
    height: 100%;
    width: 35vw;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-flow: column;
}

.gameForm h1{
    padding: 0;
    margin: 0;
}

.gameForm form label{
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

.gameForm form input[type="text"], input[type="number"], select, option{
    height: 25px;
    width: 100%;
}

@media only screen and (min-width: 620px) {
    .gameForm{
        width: 50%;
    }
}