section.head {
    margin: 0;
    padding: 0;
    height: 10vh;
    width: 100%;
    background-color: rgba(60, 60, 60, 0.795);
    border-bottom: 1.5px solid #13B3A4;
}

.header {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.header h1 {
    margin: auto;
    padding: 0;
    font-size: 42px;
    font-weight: bolder;
    text-shadow: 2px 2px 6px rgba(255, 253, 253, 0.667);
    color: rgb(54, 54, 54);
    -webkit-text-fill-color: #ccc;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.header .buttons {
    margin: auto;
}

.header .buttons :nth-child(1){
    margin: 1em;
    padding: 15px;
    background-color: rgb(193, 193, 193);
    color: #fff;
    font-size: 14px;
    font-weight: bolder;
}

.header .buttons :nth-child(2){
    margin: 1em;
    padding: 15px;
    background-color: #13B3A4;
    color: #fff;
    font-size: 14px;
    font-weight: bolder;
}

@media only screen and (max-width: 840px) {
    .header{
        flex-direction: column;
    }
    .header h1 {
        font-size: 36px
    }
    .header .buttons{
        margin: auto;
    }
    .header .buttons :nth-child(1){
        padding: 10px;
    }
    .header .buttons :nth-child(2){
        padding: 10px
    }
}

section.main {
    margin: 0;
    /* padding: 10px; */
    height: 85vh;
    width: 100%;
    overflow: hidden;
    background-color: rgba(69, 69, 69, 0.88);
    background-image: url("../../../../server/assets/images/circuits.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-dodge ;    
    display: flex;
    flex-flow: column;
}

.forms {
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.forms h1 {
    margin: 10px;
    padding: 0;
    text-decoration: underline;
}

.forms button {
    margin: 2px;
    border-radius: 12px;
}

form{
    margin: auto;
    padding: 0;
    width: 60vw;
    color: rgb(71, 71, 71);
    text-align: center;
    background-color: #b3b3b3eb;
    /* border-radius: 18px; */
}

form ul{
    list-style: none;
    margin: 1em;
    padding: 0;
    display: flex;
    flex-direction: column;
}

ul li{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
}

ul li input{
    margin: 10px auto;
    padding: 6px;
    height: 22px;
    width: 90%;
    border: 1px solid black;
    border-radius: 8px;
}

ul li input[type="submit"]{
    margin: 10px auto;
    padding: 6px;
    height: 30px;
    width: 50%;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #6CCBEF;
    color: black;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(0, 0, 0);
    opacity: 1; /* Firefox */
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(0, 0, 0);
  }
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(0, 0, 0);
  }

  @media only screen and (max-width: 520px){
      form{
          width: 75vw;
      }

      .header h1{
          text-align: center;
      }
  }
  @media only screen and (max-width: 375px) {
    .header h1{
        font-size: 28px;
    }
}

section.info{
    margin: 0;
    padding: 0;
    height: 60vh;
    min-height: fit-content;
    width: 100%;
    background: linear-gradient(to left, #13B3A4, rgb(193, 193, 193));
    display: flex;
    flex-direction: column;
}

section.info h2, h3{
    margin: 20px auto;
    padding: 0;
    text-align: center;
    /* transform: skew(0deg, 8deg);÷ */
}

.games {
    margin: 0 5em;
    padding: 0;
    /* transform: skew(0deg, 8deg); */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.gameCard {
    margin: 0;
    padding: 12px;
    height: 80%;
    width: auto;
    background-color: #cccc;
}

section.footer{
    padding: 0;
    margin: 0;
    height: 6vh;
    width: 100vw;
    background-color: rgba(60, 60, 60, 0.795);
    display: flex;
}
section.footer h4{
    margin: auto;
    padding: 10px;
    color: #cccc;
}

@media only screen and (max-width: 445px) {

    section.info h2, h3{
        margin: 10px auto;
    }

    .games{
        grid-template-columns: repeat(2, 1fr)
    }
}

@media only screen and (max-width: 380px) {
    section.info {
        height: 65vh;
    }
}