section{
    margin: 0;
    padding: 0;
    min-height: fit-content;
    height: 100vh;
    width: 100vw;
    background-image: url("../../assets/images/chainz.jpg");    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
section .header{
    height: 200px;
    width: auto;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}

section .header .buttons{
    margin: 0;
    padding: 0;
}
section .forms{
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    height: 400px;
    color: #000;
}

section .forms form{
    width: 350px;
    margin: 25px;
    background-color: rgba(15, 15, 15, .95);
    text-align: left;
    border: 2px solid #fff;
    border-radius: 20px;    
    box-shadow: 20 20px 40px 30px #333;

}
section .forms form h1{
    padding-top: 10px;
    margin: 0;
    color: #fff;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px #000;
}
section .forms form p{
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
section .forms form ul{
    float: left;
    width: 80%;
    height: fit-content;
}
section .forms form ul li{
    list-style: none;
}
section .forms form input{
    width: 100%;
}
section .forms form input::placeholder{
    color:#fff;
}
section .forms form input[type="text"],
section .forms form input[type="email"],
section .forms form input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: #fff;
}
section .forms form input[type="submit"]{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    /* line-height: 50px; */
    border: none;
    border-radius: 20px;
    background: rgb(0, 180, 15);
    color: #000;
}
section .forms form input[type="submit"]:hover{
    color: lightblue;
    background: rgb(47, 0, 255);
    transition: 0.5s ease-in-out;
}
section .forms form ul li small{
    color: rgb(0, 68, 196);
    font-size: 12px;
}
section .forms form span{
    font-size: 15px;
    color: red;
}
@media (max-width: 600px){
    section .header{
        height: 100px;
        padding: 0;
        display: grid;
        grid-template-columns: 48% 48%;
        width: 100%
    }
    section .header .buttons{
        display: flex;
        position: absolute;
        top: 110px;
        left: 25%;
    }
}