<section class="head">
  <div class="header">
    <h1>Welcome to Game Cellar</h1>
    <div class="buttons">
        <button (click)="register()">Register</button>
        <button (click)="sign()">Sign In</button>
    </div>
  </div>
</section>
<section class="main">
    <div class="forms">
      <form (submit)="login_user()" #logForm="ngForm" *ngIf="this.signIn==true">
        <h1>Sign In!</h1>
        <ul>
          <li>
            <input type="text" name="username" required minlength="8" [(ngModel)]="userLog.username" #username="ngModel" placeholder="Username">
          </li>
          <li>
            <input type="password" name="password" required [(ngModel)]="userLog.password" #password="ngModel" placeholder="Password">   
          </li>
          <li>
            <input type="submit" value="Sign In" [disabled]="logForm.invalid">
          </li>
        </ul>
        <span style="text-align: center;" *ngIf="err.logError">{{err.msg}}</span>
      </form>
  
      <form style="height: 100%" (submit)="register_user()" #regForm="ngForm" *ngIf="this.reg==true">
        <h1>Register!</h1>
        <ul>
          <li>
            <input type="text" name="username" id="exampleInputEmail1" required minlength="8" [(ngModel)]="userReg.username" #username="ngModel" placeholder="Username">
          </li>
          <li>
            <input type="email" name="email" id="exampleInputEmail1" required pattern="[a-zA-Z0-9.+_-]+@[a-zA-Z0-9._-]+\.[a-zA-Z]+" [(ngModel)]="userReg.email" #email="ngModel" placeholder="Email">
          </li>
          <li>
            <input type="password" name="password" id="exampleInputEmail1" required minlength="10" [(ngModel)]="userReg.password" #password="ngModel" placeholder="Password">
          </li>
          <li>
            <input type="password" name="confirm" id="exampleInputEmail1" required minlength="10" [(ngModel)]="confirm_password" #confirm="ngModel" placeholder="Re-Password">
          </li>
          <li>
            <input type="submit" value="Register" [disabled]="regForm.invalid||userReg.password!=confirm_password">
          </li> 
        </ul>
        <span style="text-align: center;" *ngIf="err.regError">{{err.msg}}</span>
      </form>
    </div> 
  </section>
  <section class="info">
    <h2>Games are like fine wine, the longer they age the higher the quality</h2>
    <h3>Check out some of our most recent Games</h3>
    <div class="games">
      <div class="gameCard" *ngFor="let game of games">
        <p>{{game.name}}</p>
        <p>{{game.console}}</p>
        <p>{{game.condition}}</p>
        <p>{{game.year}}</p>
        <b>${{game.price}}</b>
      </div>
    </div>
  </section>
  <section class="footer">
    <h4>Copyright © 2019 Game Cellar</h4>
  </section>