<section>
    <div class="header">
      <h1>Welcome to Game Cellar</h1>
      <div class="buttons">
          <button (click)="register()">Register</button>
          <button (click)="sign()">Sign In</button>
      </div>
    </div>
    
    <div class="forms">
      <form (submit)="login_user()" #logForm="ngForm" *ngIf="this.signIn==true">
        <h1>Sign In!</h1>
        <ul>
          <li>
            <input type="text" name="username" required minlength="8" [(ngModel)]="userLog.username" #username="ngModel" placeholder="Username">
          </li>
          <li>
            <input type="password" name="password" required minlength="10" [(ngModel)]="userLog.password" #password="ngModel" placeholder="Password">   
          </li>
          <li>
            <input type="submit" value="Log In" [disabled]="logForm.invalid">
          </li>
        </ul>
        <span style="text-align: center;" *ngIf="err.logError">{{err.msg}}</span>
      </form>
  
      <form style="height: 100%" (submit)="register_user()" #regForm="ngForm" *ngIf="this.reg==true">
        <h1>Register!</h1>
        <ul>
          <li>
            <input type="text" name="username" id="exampleInputEmail1" required minlength="8" [(ngModel)]="userReg.username" #username="ngModel" placeholder="Username">
          </li>
          <li>
            <input type="email" name="email" id="exampleInputEmail1" required pattern="[a-zA-Z0-9.+_-]+@[a-zA-Z0-9._-]+\.[a-zA-Z]+" [(ngModel)]="userReg.email" #email="ngModel" placeholder="Email">
          </li>
          <li>
            <input type="password" name="password" id="exampleInputEmail1" required minlength="10" [(ngModel)]="userReg.password" #password="ngModel" placeholder="Password">
          </li>
          <li>
            <input type="password" name="confirm" id="exampleInputEmail1" required minlength="10" [(ngModel)]="confirm_password" #confirm="ngModel" placeholder="Re-Password">
          </li>
          <li>
            <input type="submit" value="Register" [disabled]="regForm.invalid||userReg.password!=confirm_password">
          </li> 
        </ul>
        <span style="text-align: center;" *ngIf="err.regError">{{err.msg}}</span>
      </form>
    </div> 
  </section>