section {
    margin: 0;
    padding: 0;
    height: 90vh;
    width: 100%;
    overflow: hidden;
    background-image: url("../../../../server/assets/images/circuits.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* object-fit: cover; */
    display: flex;
    flex-flow: column;
}
.header {
    margin: 20px auto;
    padding: 0;
    width: 100vw;
    display: grid;
    grid-auto-columns: 1fr 1fr;
}

.header h1 {
    margin: auto;
    padding: 0;
    font-size: 42px;
    font-weight: bolder;
    text-shadow: 2px 2px 6px rgba(255, 253, 253, 0.667);
    color: rgb(54, 54, 54);
    -webkit-text-fill-color: #ccc;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.header .buttons {
    margin: auto;
}

.header .buttons :nth-child(1){
    margin: 0 1em;
    padding: 15px;
    background-color: rgb(193, 193, 193);
    color: #fff;
    font-size: 14px;
    font-weight: bolder;
}

.header .buttons :nth-child(2){
    margin: 0 1em;
    padding: 15px;
    background-color: #13B3A4;
    color: #fff;
    font-size: 14px;
    font-weight: bolder;
}

.forms {
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.forms button {
    margin: 2px;
    border-radius: 12px;
}



form{
    margin: auto;
    padding: 0;
    width: 40vw;
    color: rgb(71, 71, 71);
    text-align: center;
    background-color: #b3b3b3d2;
    border-radius: 18px;
}

form ul{
    list-style: none;
    margin: 1em;
    padding: 0;
    display: flex;
    flex-direction: column;
}

ul li{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
}

ul li input{
    margin: 10px auto;
    padding: 6px;
    height: 22px;
    width: 90%;
    border: 1px solid black;
    border-radius: 8px;
}

ul li input[type="submit"]{
    margin: 10px auto;
    padding: 6px;
    height: 30px;
    width: 50%;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #6CCBEF;
    color: black;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(0, 0, 0);
    opacity: 1; /* Firefox */
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(0, 0, 0);
  }
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(0, 0, 0);
  }