<div class="container">
  <section class="card">
    <div class="userinfo">
      <h1>{{user.username}}</h1>
      <img src="../../../../../server/assets/images/circuits.jpg" alt="profile picture">
      <ul>
        <li><b>Bio:</b> {{user.bio}}</li>
        <li><b>System:</b> {{user.system}}</li>
        <li><b>Phone:</b> {{user.phone}}</li>
      </ul>
    </div>
    <div class="userGames">
      <h1>These are my games</h1>
      <ul>
        <li *ngFor="let game of user.games">{{game.name}} | ${{game.price}}</li>
      </ul>
      <h1>These are my wishlist</h1>
      <ul>
        <li *ngFor="let game of user.wishlist">{{game.name}} | ${{game.price}}</li>
      </ul>
    </div>
  </section>
</div>
