<div class="container">
  <section *ngIf="edit_modal" class="edit_modal">
    <div class="edit_modal_content">
      <div class="edit_header">
          <span (click)="edit_modal=false">&times;</span>
          <h2>Edit You're Profile Here</h2>
      </div>
      <div class="edit_form" (submit)="updateProfile()">
        <form #editForm="ngForm">
          <input type="text" minlength="3" name="system" [(ngModel)]="editUser.system" #system="ngModel" placeholder="Gaming System">
          <input type="text" minlength="10" name="phone" [(ngModel)]="editUser.phone" #phone="ngModel" placeholder="Phone Number">
          <textarea cols="20" rows="5" minlength="25" name="bio" [(ngModel)]="editUser.bio" #bio="ngModel" placeholder="Tell us About Yourself..."></textarea>
          <input type="file" (change)="uploadImage($event)">
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </section>
  <section class="card">
    <div class="userinfo">
      <button (click)="edit_modal=true">Edit Profile</button>
      <h1>{{user.username}}</h1>
      <img src={{user.profile[0]}} alt="profile picture">
      <ul>
        <li><b>Bio:</b> {{user.bio}}</li>
        <li><b>System:</b> {{user.system}}</li>
        <li><b>Phone:</b> {{user.phone}}</li>
      </ul>
    </div>
    <div class="userGames">
      <h1>These are my games</h1>
      <ul>
        <li *ngFor="let game of user.games">{{game.name}} | ${{game.price}}</li>
      </ul>
      <h1>These are my wishlist</h1>
      <ul>
        <li *ngFor="let game of user.wishlist">{{game.name}} | ${{game.price}}</li>
      </ul>
    </div>
  </section>
</div>
