*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: #000;
    height: fit-content;
}
h1{
    font-family: 'Bungee', 'cursive'
}

button:hover{
    cursor: pointer;
}

input[type="submit"]:hover{
    cursor: pointer;
}