html{
    padding: 0;
    margin: 0;
    min-width: fit-content;
    min-height: fit-content;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Bungee', 'cursive'
}

button:hover{
    cursor: pointer;
}

input[type="submit"]:hover{
    cursor: pointer;
}