@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC|Rock+Salt');

header{
    margin: 0;
    padding: 0;
    height: fit-content;
    width: 100%;
}
header section{
    margin: 0;
    padding: 1em;
    height: 10vh;
    display: grid;
    grid-template-columns: auto 1fr auto;
    background: #ae0000; /* Old browsers */
    background: -moz-linear-gradient(-90deg, #8c0000 0%, #ba0000 56%, #d60101 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-90deg, #8c0000 0%, #ba0000 56%, #d60101 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(180deg, #8c0000 0%, #ba0000 56%, #d60101 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#a90329',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/* header section form{
    margin: 0 auto;
    padding: 0;
    width: 80%;
    height: 50%;
}
header section form input[type="text"]{
    margin: auto 5px;
    padding: 0 5px;
    width: 350px;
    max-width: 70%;
    height: 30px;
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: 0.2em 0.2em rgba(57, 57, 57, 0.87)
}
header section form input[type="submit"]{
    margin:  10px auto;
    padding: 5px 5px;
    width: 75px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0.2em 0.2em rgba(57, 57, 57, 0.87);
    background-color: rgb(113, 113, 113);
} */
header section div.logo{
    height: 60px;
    width: 190px;
    background-color: rgba(172, 172, 172, 0.9);
    border: 1px solid #000;
    border-radius:  45%;
    box-shadow: 0 10px 5px 5px rgba(0,0,0,0.8);
    transform: rotate(-5deg);
}

header section div.logo h1{
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    transition: 1s ease-in-out;
}

header section div.logo:hover h1{
    transform: scale(1.2);
    cursor: pointer;
}

header nav{
    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(-180deg, #45484d 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-180deg, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(360deg, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 5vh;
    width: fit-content;
    margin: auto;
}
header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: 'PLayfair Display SC', serif;
    font-size: 14px;
    font-weight: bold;
}
header nav ul li{
    margin: 0;
    padding: 0;
    text-align: center;
    border-right: 1px solid #fff;
    transition: 0.5s ease-in-out;
    color: whitesmoke;
}
header nav ul li:last-child{
    border-right: none;
}
header nav ul li a{
    margin: 0;
    padding: 14px 44px;
    text-decoration: none;
    color: inherit;
    line-height: 5vh;
}

header nav ul li:hover{
    background-color: silver;
    color: #000;
}

header section button{
    margin:  10px auto;
    padding: 5px 5px;
    width: 75px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 2px 5px 1px rgba(57, 57, 57, 0.87);
    background-color: rgb(155, 0, 0);
}