@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC|Rock+Salt');

header{
    margin: 0;
    padding: 0;
    height: fit-content;
    width: 100%;
}
header section{
    margin: 0;
    padding: 10px;
    height: 8vh;
    display: grid;
    grid-template-columns: auto 1fr auto;
    background: #343434;
}

header section div.logo{
    height: 60px;
    color: #ffff;
    transform: rotate(-5deg);
}

header section div.logo h1{
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    transition: 1s ease-in-out;
}

header section div.logo:hover h1{
    transform: scale(1.2);
    cursor: pointer;
}

header nav{
    height: 100%;
    width: fit-content;
    margin: auto;
    display: flex;
}
header nav ul{
    margin: auto;
    padding: 0;
    height: inherit;
    display: flex;
    flex-direction: row;
    list-style: none;
}
header nav ul li{
    margin: auto;
    padding: 0;
    height: 80%;
    text-align: center;
    border-right: 1px solid rgb(0, 0, 0);
    transition: 0.5s ease-in-out;
    color: rgb(207, 207, 207);
    font-family: 'PLayfair Display SC', serif;
    font-size: 18px;
    font-weight: bold;
    display: flex;
}
header nav ul li:last-child{
    border-right: none;
}
header nav ul li a{
    margin: auto;
    padding: 14px 44px;
    height: inherit;
    text-decoration: none;
    color: inherit;
}

header nav ul li:hover{
    background-color: silver;
    color: #000;
}

header section button{
    margin:  10px auto;
    padding: 5px 5px;
    width: 75px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 2px 5px 1px rgba(57, 57, 57, 0.87);
    background-color: #DC202B;
}